.container {
  width: 320px;
}

body {
  background: #cff;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

#header {
  padding-top: 20px;
}

#header img {
  padding: 1em;
  background: #fff;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
